.journal-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.form-set {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
}

.form-legend {
    text-align: center;
}

.form-label {
    align-self: center;
}

.form-input {
   size:"50";
   /* align-self: center; */
}